@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <h2>My Dashboard</h2>
</div>

<div class="row">
    <div class="col-md-6" style="border:1px solid;border-radius:5px">
        <h3 style="border:1px solid;width:50%;text-align:center">To-Do</h3>
        <ul>
            <li>0 Cases added today <a href="#">Add one?</a></li>
            <li><a href="#">1 Evaluation Pending</a></li>
        </ul>
    </div>
    <div class="col-md-6" style="border:1px solid;border-radius:5px">
        <h3 style="border:1px solid;width:50%;text-align:center">Alerts</h3>
        <ul>
            <li>Encounter Hours Requirement not met </li>
            <li>Term Ends 12/15/14</li>
        </ul>
    </div>
</div>
<br />
<br />

<div id="tabs" style="clear:left;margin-top:20px">
    <ul>
        <li><a href="#myScheduler">Schedule</a></li>
        <li><a href="#tabs-2">Logs</a></li>
    </ul>
    <div id="myScheduler"></div>
    <div id="tabs-2">
        Register
    </div>
</div>
<script>$("#tabs").tabs();</script>

<script>
YUI().use(
                'aui-scheduler',
                function (Y) {
      var events = [
        {
            content: 'Event1',
            endDate: new Date(2014, 12, 1, 5),
            startDate: new Date(2014, 12, 1, 1)
        }
      ];

      var eventRecorder = new Y.SchedulerEventRecorder();
      var weekView = new Y.SchedulerWeekView();

      new Y.Scheduler(
        {
            boundingBox: '#myScheduler',
            eventRecorder: eventRecorder,
            items: events,
            render: true,
            views: [weekView],




        }
      );
  }
);</script>