
@{
    ViewBag.Title = "NewEvaluation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="http://cdn.alloyui.com/3.0.0/aui/aui-min.js"></script>
<link href="http://cdn.alloyui.com/3.0.0/aui-css/css/bootstrap.min.css" rel="stylesheet">

<h2>Evaluations</h2>

<br />
<div class="container">
    <h2>Table</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Preceptor</th>
                <th>Site</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>11/24/2014</td>
                <td>Anna A</td>
                <td>Philadelphia</td>
                <td><a href="#">VIEW</a></td>
            </tr>
            <tr>
                <td>11/23/2014</td>
                <td>Anna A</td>
                <td>Philadelphia</td>
                <td><a href="#">VIEW</a></td>
            </tr>
            <tr>
                <td>11/22/2014</td>
                <td>Ben B</td>
                <td>Philadelphia</td>
                <td><a href="#">VIEW</a></td>
            </tr>
        </tbody>
    </table>
</div>

